name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: p3-express-vitest-prisma
        run: npm install && npx prisma generate # i do need migrate schema here becuse this is unit test 

      - name: Run tests
        working-directory: p3-express-vitest-prisma
        run: npm run test
