apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 3  # how many replicas i need to specific pod
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        # image: postgres:latest
        image: nginx:latest
        ports:
        - containerPort: 80
        # env:
        # - name: POSTGRES_PASSWORD
        #   value: "yourpassword"