name: Build and push Docker image to Docker Hub

on:
  push:
    branches:
    - main

jobs:
  build-and-push-job-name:
    name: Build and push Docker image to Docker Hub

    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push the Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # context of application
          file: ./Dockerfile # file to build
          push: true # push the image to docker hub
          tags: sojitraurvish/ci-cd:${{ github.sha }} # tags as commit id

      - name: Verify pushed image  
        run: docker pull sojitraurvish/ci-cd:${{ github.sha }}

      - name: Deploy to Ec2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo docker pull sojitraurvish/ci-cd:${{ github.sha }}
            sudo docker stop ci-cd-app || true
            sudo docker rm ci-cd-app || true
            sudo docker run -d -p 8080:3000 --name ci-cd-app -e NODE_ENV="mybrowser" -e PORT="3000" sojitraurvish/ci-cd:${{ github.sha }}
