version: '3.8'

services:
  mongodb:
    image: mongo 
    container_name: mongodb_ip_uri
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  # backend:
  #   image: backend
  #   container_name: backend_ip_uri
  #   depends_on:
  #     - mongodb
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - MONGODB_URI=mongodb://mongodb_ip_uri:27017/mydatabase

  # if you want to build new fresh image when you run docker compose up
  backend:
    build: .
    container_name: backend_ip_uri
    depends_on:
      - mongodb
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongodb_ip_uri:27017/mydatabase

volumes:
  mongodb_data:
