name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx #set up docker
      uses: docker/setup-buildx-action@v2

    - name: Set up Docker Compose # set up docker comopose on server
      uses: docker/setup-qemu-action@v2

    - name: Ensure Docker Compose is available #is docker comopose actually there
      run: docker-compose version

    - name: Copy .env.example to .env # form .env our posgresess pic the database url from and at github we do not push the .env
      run: cp ./1-integration-test/.env.example ./1-integration-test/.env

    - name: Run integration script
      run: cd 1-integration-test && npm run test:integration # for now cd step is not requied because we add this file in same app or project
